mixin t3-button

  - var type = undefined;
  if attributes['t3-button-type']
    - type = attributes['t3-button-type'];
    - attributes['t3-button-type'] = undefined;

  button.t3-button&attributes(attributes)
    block
