// Colors
$t3-color-black: #000;
$t3-color-white: #fff;

$t3-color-primary: #4cc0c1;

$t3-color-alert: #fb6b5b;
$t3-color-warning: #ffc333;
$t3-color-success: #8ec165;

// Typography
$t3-font-base: 'Lato', sans-serif;

// Layout
$t3-border-radius: 5px;

// Button settings
$t3-button-border-radius: $t3-border-radius;
